
h1 {
    font-family: comic 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif

}

body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
background-color: rgb(148, 219, 219);
border-style:groove;
border-color: rgb(236, 154, 46);
background-image: url("./images/Bluebackground.jpg ");
color:white
}
